@using Hotel.UI.ViewModels.HomeVM;
@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}


   <!-- home -->

   <main class="home" id="home">

      <div class="swiper home-slider">

         <div class="swiper-wrapper">

            <div class="swiper-slide slide" style="background: url(./assets/Sliders/slide1.jpg) no-repeat;">
               <div class="content">
                  <h3>it's where dreams come true</h3>
                  <a href="#" class="btn"> visit our offer</a>
               </div>
            </div>

            <div class="swiper-slide slide" style="background: url(./assets/Sliders/slide2.jpg) no-repeat;">
               <div class="content">
                  <h3>it's where dreams come true</h3>
                  <a href="#" class="btn"> visit our offer</a>
               </div>
            </div>

            <div class="swiper-slide slide" style="background: url(./assets/Sliders/slide3.jpg) no-repeat;">
               <div class="content">
                  <h3>it's where dreams come true</h3>
                  <a href="#" class="btn"> visit our offer</a>
               </div>
            </div>

            <div class="swiper-slide slide" style="background: url(./assets/Sliders/slide4.jpg) no-repeat;">
               <div class="content">
                  <h3>it's where dreams come true</h3>
                  <a href="#" class="btn"> visit our offer</a>
               </div>
            </div>

         </div>

         <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>

      </div>

   </main>
 <section>

   <!-- end -->

   <!-- availability -->

   <main class="availability">

      <form action="">

         <div class="box">
            <p>check in <span>*</span></p>
            <input type="date" class="input">
         </div>

         <div class="box">
            <p>check out <span>*</span></p>
            <input type="date" class="input">
         </div>

         <div class="box">
            <p>adults <span>*</span></p>
            <select name="adults" id="" class="input">
               <option value="1">1 adults</option>
               <option value="2">2 adults</option>
               <option value="3">3 adults</option>
               <option value="4">4 adults</option>
               <option value="5">5 adults</option>
               <option value="6">6 adults</option>
            </select>
         </div>

         <div class="box">
            <p>children <span>*</span></p>
            <select name="child" id="" class="input">
               <option value="1">1 child</option>
               <option value="2">2 child</option>
               <option value="3">3 child</option>
               <option value="4">4 child</option>
               <option value="5">5 child</option>
               <option value="6">6 child</option>
            </select>
         </div>

         <div class="box">
            <p>rooms <span>*</span></p>
            <select name="rooms" id="" class="input">
               <option value="1">1 rooms</option>
               <option value="2">2 rooms</option>
               <option value="3">3 rooms</option>
               <option value="4">4 rooms</option>
               <option value="5">5 rooms</option>
               <option value="6">6 rooms</option>
            </select>
         </div>

         <input type="submit" value="check availability" class="btn">

      </form>

   </main>

   <!-- end -->


   <!-- about -->

   <main class="about" id="about">

      <div class="row">

         <div class="image">
            <img src="~/assets/Icons/logo.png" alt="">
         </div>

         <div class="content">
            <h3>about us</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione nesciunt blanditiis maxime natus repudiandae veritatis alias laboriosam neque cum! Est adipisci assumenda, ad debitis iusto laudantium repellat aliquam dolore voluptates.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione nesciunt blanditiis maxime natus repudiandae veritatis alias laboriosam neque cum! Est adipisci assumenda, ad debitis iusto laudantium repellat aliquam dolore voluptates.</p>
         </div>

      </div>

   </main>

   <!-- end -->

   <!-- room -->
  
  
    <main class="room" id="room">
      <h1 class="heading">our room</h1>
      <div class="swiper room-slider">
         <div class="swiper-wrapper">
                @foreach(var room in Model.Rooms)
                {
                    <div class="swiper-slide slide" id="@room.Id">
                        <div class="image">
                            <span class="price">
                                $ <span>@room.Price</span> /night
                            </span>
                            @foreach(var image in room.Images)
                            {
                                if (image.IsMain ?? false) 
                                {
                                    <a asp-controller="Room" asp-action="Detail" asp-route-Id="@room.Id"><img src="~/@image.Url" alt=""></a>
                                    break;
                                }
                            }
                            <div class="Add-cart">
                                <a class="fas fa-shopping-cart"></a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>@room.Name</h3>
                            <p>@room.Reviews</p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <a href="#" class="btn">book now</a>
                        </div>
                    </div>
                }

         </div>
         <div class="swiper-pagination"></div>
      </div>
   </main>

   <!-- end -->


   <!-- services -->

   <main class="services">

      <div class="box-container">

         <div class="box">
            <img src="~/assets/images/service1.png" alt="">
            <h3>swimming pool</h3>
         </div>

         <div class="box">
            <img src="~/assets/images/service2.png" alt="">
            <h3>food & drink</h3>
         </div>

         <div class="box">
            <img src="~/assets/images/service3.png" alt="">
            <h3>restaurant</h3>
         </div>

         <div class="box">
            <img src="~/assets/images/service4.png" alt="">
            <h3>fitness</h3>
         </div>

         <div class="box">
            <img src="~/assets/images/service5.png" alt="">
            <h3>beauty spa</h3>
         </div>

         <div class="box">
            <img src="~/assets/images/service6.png" alt="">
            <h3>resort beach</h3>
         </div>

      </div>

   </main>

   <!-- end -->

   <!-- gallery -->

   <main class="gallery" id="gallery">

      <h1 class="heading">our gallery</h1>

      <div class="swiper gallery-slider">

         <div class="swiper-wrapper">

            <div class="swiper-slide slide">
               <img src="~/assets/images/gallery1.jpg" alt="">
               <div class="icon">
                  <i class="fas fa-magnifying-glass-plus"></i>
               </div>
            </div>

            <div class="swiper-slide slide">
               <img src="~/assets/images/gallery2.jpg" alt="">
               <div class="icon">
                  <i class="fas fa-magnifying-glass-plus"></i>
               </div>
            </div>

            <div class="swiper-slide slide">
               <img src="~/assets/images/gallery3.jpg" alt="">
               <div class="icon">
                  <i class="fas fa-magnifying-glass-plus"></i>
               </div>
            </div>

            <div class="swiper-slide slide">
               <img src="~/assets/images/gallery4.jpg" alt="">
               <div class="icon">
                  <i class="fas fa-magnifying-glass-plus"></i>
               </div>
            </div>

            <div class="swiper-slide slide">
               <img src="~/assets/images/gallery5.jpg" alt="">
               <div class="icon">
                  <i class="fas fa-magnifying-glass-plus"></i>
               </div>
            </div>

            <div class="swiper-slide slide">
               <img src="~/assets/images/gallery6.jpg" alt="">
               <div class="icon">
                  <i class="fas fa-magnifying-glass-plus"></i>
               </div>
            </div>

         </div>

      </div>

   </main>

   <!-- end -->

   <!-- review -->

   <main class="review" id="review">

      <div class="swiper review-slider">
         <div class="swiper-wrapper">

            <div class="swiper-slide slide">
               <h2 class="heading">client's review</h2>
               <i class="fas fa-quote-right"></i>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda eligendi sint dolorum, magni esse suscipit quia ab quos neque repudiandae omnis quo aliquam dolore temporibus libero vel voluptas velit porro!</p>
               <div class="user">
                  <img src="~/assets/images/pic-1.png" alt="">
                  <div class="user-info">
                     <h3>john deo</h3>
                     <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                     </div>
                  </div>
               </div>
            </div>

            <div class="swiper-slide slide">
               <h2 class="heading">client's review</h2>
               <i class="fas fa-quote-right"></i>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda eligendi sint dolorum, magni esse suscipit quia ab quos neque repudiandae omnis quo aliquam dolore temporibus libero vel voluptas velit porro!</p>
               <div class="user">
                  <img src="~/assets/images/pic-2.png" alt="">
                  <div class="user-info">
                     <h3>john deo</h3>
                     <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                     </div>
                  </div>
               </div>
            </div>

            <div class="swiper-slide slide">
               <h2 class="heading">client's review</h2>
               <i class="fas fa-quote-right"></i>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda eligendi sint dolorum, magni esse suscipit quia ab quos neque repudiandae omnis quo aliquam dolore temporibus libero vel voluptas velit porro!</p>
               <div class="user">
                  <img src="~/assets/images/pic-3.png" alt="">
                  <div class="user-info">
                     <h3>john deo</h3>
                     <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                     </div>
                  </div>
               </div>
            </div>

            <div class="swiper-slide slide">
               <h2 class="heading">client's review</h2>
               <i class="fas fa-quote-right"></i>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda eligendi sint dolorum, magni esse suscipit quia ab quos neque repudiandae omnis quo aliquam dolore temporibus libero vel voluptas velit porro!</p>
               <div class="user">
                  <img src="~/assets/images/pic-4.png" alt="">
                  <div class="user-info">
                     <h3>john deo</h3>
                     <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                     </div>
                  </div>
               </div>
            </div>

            <div class="swiper-slide slide">
               <h2 class="heading">client's review</h2>
               <i class="fas fa-quote-right"></i>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda eligendi sint dolorum, magni esse suscipit quia ab quos neque repudiandae omnis quo aliquam dolore temporibus libero vel voluptas velit porro!</p>
               <div class="user">
                  <img src="~/assets/images/pic-5.png" alt="">
                  <div class="user-info">
                     <h3>john deo</h3>
                     <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                     </div>
                  </div>
               </div>
            </div>

            <div class="swiper-slide slide">
               <h2 class="heading">client's review</h2>
               <i class="fas fa-quote-right"></i>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda eligendi sint dolorum, magni esse suscipit quia ab quos neque repudiandae omnis quo aliquam dolore temporibus libero vel voluptas velit porro!</p>
               <div class="user">
                  <img src="~/assets/images/pic-6.png" alt="">
                  <div class="user-info">
                     <h3>john deo</h3>
                     <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                     </div>
                  </div>
               </div>
            </div>

         </div>
         <div class="swiper-pagination"></div>
      </div>

   </main>

   <!-- end -->

   <!-- faq -->

   <main class="faqs" id="faq">

      <h1 class="heading">frequently asked questions</h1>

      <div class="row">

         <div class="image">
            <img src="~/assets/images/FAQs.gif" alt="">
         </div>

         <div class="content">

            <div class="box active">
               <h3>what are payment methods?</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cupiditate mollitia.</p>
            </div>

            <div class="box">
               <h3>what are payment methods?</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cupiditate mollitia.</p>
            </div>

            <div class="box">
               <h3>what are payment methods?</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cupiditate mollitia.</p>
            </div>

            <div class="box">
               <h3>what are payment methods?</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cupiditate mollitia.</p>
            </div>

            <div class="box">
               <h3>what are payment methods?</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cupiditate mollitia.</p>
            </div>

         </div>

      </div>

   </main>

   <!-- end -->

   <!-- reservation -->

  

   <!-- end -->
 </section>

